#api
  .red_button.little_button.redirect{ data: { action: show_deploy_ui_path } } UI Deploy
  .red_button.little_button.redirect{ data: { action: show_deploy_collector_path } } Collector Deploy
  %h1#api_title.title Blow the API up!

  #deploy_api.red_button.deploy_button{ data: { action: @action } }
    Do it!

  #loader
  #deploy_logs

