/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,300,600);*/

@-webkit-keyframes rotateCogOne {
  0% { -webkit-transform:rotate(10deg); }
  100% { -webkit-transform:rotate(370deg); }
}

@-moz-keyframes rotateCogOne {
  0% { -moz-transform:rotate(10deg); }
  100% { -moz-transform:rotate(370deg); }
}

@keyframes rotateCogOne {
  0% { transform:rotate(10deg); }
  100% { transform:rotate(370deg); }
}

@-webkit-keyframes rotateCogTwo {
  0% { -webkit-transform:rotate(0deg); }
  100% { -webkit-transform:rotate(-360deg); }
}

@-moz-keyframes rotateCogTwo {
  0% { -moz-transform:rotate(0deg); }
  100% { -moz-transform:rotate(-360deg); }
}

@keyframes rotateCogTwo {
  0% { transform:rotate(0deg); }
  100% { transform:rotate(-360deg); }
}

html {
  height: 100%;
  width: 100%;
  background: black;
}

body {
  width: 100%;
  height: 100%;
}

#cogs {
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
  overflow: hidden;
  z-index: -100;
}

#cogOne {
  position: absolute;
  top: -600px;
  left: -600px;
  -webkit-animation: rotateCogOne 60s infinite linear;
  -moz-animation: rotateCogOne 60s infinite linear;
  animation: rotateCogOne 60s infinite linear;
}

#cogTwo {
  position: absolute;
  top: 170px;
  left: 170px;
  -webkit-animation: rotateCogTwo 30s infinite linear;
  -moz-animation: rotateCogTwo 30s infinite linear;
  animation: rotateCogTwo 30s infinite linear;
}

#content {
  width: 80%;
  margin: 0 auto;
  padding: 2% 15%;
  text-align: left;
  font-family: 'Open Sans';
  background: rgba(0,0,0,.25);
  color: #fff;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  margin: 10px auto;
}

p {
  margin: 10px auto;
  font-weight: 300;
}

div#gear_1 {
  position: absolute;
  top: 20px;
  right: 30px;
}

div#gear_4 {
  position: absolute;
  bottom: 200px;
  right: 300px;
}

#deploy_collector {
  background: rgba(0,0,0,.5);
  cursor: pointer;
  width: 150px;
  padding: 10px;
  text-align: center;
  border: 1px solid grey;
}

.deploy_collector_little {
  @extend #deploy_collector;
  padding: 0px;
  width: 40px;
  color: white;
  display: inline-block;
}
